.items {
    padding: 30px;
    margin-top: 50px;
    display: flex;
    
}


.buttonComprar {
    background-color: #5c1c1c;
    border: none;
}

.card {

    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
    transition: 0.3s;
    padding: 30px;
    background-color: rgb(240, 224, 208);
    
    
  }
  

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  

  .container {
    padding: 2px 16px;
  }

.colorCrema {

background-color: rgb(248, 245, 242);

}

.title {
  color:rgb(240, 224, 208); font-family: 'Signika', sans-serif; font-size: 54px; font-weight: 300; line-height: 58px; margin: 0 0 58px;
}

.navlink {
  text-decoration : none;
  color: black;
  margin: 0;
  padding: 0;
  font-size: larger;

}